@import "../../../assets/utils";

.root {
  block-size: 100%;

  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  flex-direction: column;

  padding: rm(20);
  block-size: 0;
  flex-grow: 1;

  inline-size: 100%;

  overflow: auto;
  @include noScrollbars();
}

.content {
  max-width: rm(700);
  margin: auto;
  inline-size: 100%;
}
