@import "../../../assets/utils";

.root {
  display: flex;
  flex-direction: column;

  block-size: 100%;
}

.header {
  flex-shrink: 0;
  position: sticky;
  inset-block-start: 0;

  padding: rm(5) rm(20);

  background: var(--bg-base-hover);
  box-shadow: var(--elevation-card-rest);

  display: flex;
  align-items: center;
}

.body {
  display: flex;
  flex-grow: 1;
}

.content {
}
