@import "../../../assets/utils";

.root {
  block-size: 100dvh;

  display: flex;
  flex-direction: column;
}

.header {
  position: sticky;
  top: 0;

  border-block-end: rm(1) solid var(--border-base);
  background-color: var(--bg-base);
}

.content {
  flex-grow: 1;
  display: flex;
}

.side {
  flex-shrink: 0;

  display: flex;
}

.body {
  overflow: auto;
  @include noScrollbars();

  display: flex;
  flex-direction: column;
}
