@import "../../../assets/utils";


.interactive {
    cursor: pointer;


    &:not(.active) {
        opacity: 0.3;

        &:hover, &:focus-visible {
            opacity: 0.6;
        }

        &:active {
            opacity: 0.9;
        }
    }
}
