@import "../../../assets/utils";

.root {
    display: flex;
    align-items: center;
    gap: rm(1);
    background-color: var(--border-base);

    overflow: auto;
    @include noScrollbars();
}

.tab {
    position: relative;
  
    &:focus-visible {
        z-index: 1;
    }
}
