@import "../../../assets/utils";

.root {
  display: flex;
  align-items: center;
  gap: rm(10);
}

.avatar {
  flex-shrink: 0;
}

.body {
  @include text-compact-small();
  flex-grow: 1;
}

.side {
  @include text-compact-small();
  flex-shrink: 0;

  display: flex;
  align-items: center;
  gap: rm(4);
}
