@import "../../../assets/utils";

.root {
    --border-radius-2xsmall: #{rm(2)};
    --border-radius-2-5xsmall: #{rm(2)};
    --border-radius-xsmall: #{rm(4)};
    --border-radius-small: #{rm(6)};
    --border-radius-medium: #{rm(8)};
    --border-radius-large: #{rm(16)};
    --border-radius-xlarge: #{rm(9999)};
  
    --spacing-3xsmall: #{rm(2)};
    --spacing-2xsmall: #{rm(4)};
    --spacing-xsmall: #{rm(8)};
    --spacing-small: #{rm(12)};
    --spacing-medium: #{rm(16)};
    --spacing-large: #{rm(24)};
    --spacing-xlarge: #{rm(32)};
    --spacing-2xlarge: #{rm(40)};
    --spacing-3xlarge: #{rm(48)};
    --spacing-4xlarge: #{rm(64)};
    --spacing-5xlarge: #{rm(96)};
    --spacing-6xlarge: #{rm(112)};
  
    color: var(--fg-base);
    background-color: var(--bg-base);
}

.isApp {
    min-block-size: 100dvh;
}

.lightTheme {
    @include lightTheme();
}

.darkTheme {
    @include darkTheme();
}

.icons {
    display: none;
}

.popper {
    position: fixed;
    inset: 0;
    pointer-events: none;
    visibility: hidden;

    z-index: 10000;

    > * {
        pointer-events: auto;
        visibility: visible;
    }
}
