@import "../../../../../assets/utils";

.root {
  display: flex;
  align-items: center;
}

.actions {
  padding: rm(12) rm(12);
}

.custom {
  padding: rm(8) rm(12);
  flex-direction: column;
  align-items: flex-start;
  gap: rm(8);
}

.loader {
  padding: rm(8) rm(12);
  justify-content: center;
}

.skeleton {
  padding: rm(10) rm(12);

  &:empty {
    &::before {
      content: '';
      display: block;
      block-size: rm(16);
      inline-size: 100%;
      background-color: var(--bg-component);
      border-radius: var(--spacing-small);
    }
  }
}