@import "../../../../../assets/utils";

.root {
  padding: rm(8) rm(12);
  gap: rm(8);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  @include text-compact-xsmall-plus();
  color: var(--fg-subtle);
  flex-grow: 1;
}

.side {
  flex-shrink: 0;
}