@import "../../../assets/utils";

.root {
  display: flex;
  flex-direction: column;
  padding: 0 rm(20);

  min-block-size: 100%;
}

.body {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rm(10);

  padding: rm(20);
  margin: 0 rm(-20);

  block-size: 0;
  flex-grow: 1;

  overflow: auto;
  @include noScrollbars();
}

.filter {
  flex-shrink: 0;
  position: sticky;
  inset-block-end: 0;
  margin-block-start: auto;

  padding: rm(20);

  background: var(--bg-base);
  border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
  box-shadow: var(--elevation-flyout);
}
