@import "../../../assets/utils";

.root {
  --sidebar-item-background: transparent;
  --sidebar-item-border: var(--sidebar-item-background);
  --sidebar-item-icon-color: var(--fg-subtle);
  --sidebar-item-color: var(--fg-subtle);
  --sidebar-item-hint-color: var(--fg-muted);

  display: flex;
  align-items: center;
  gap: rm(12);
  padding: var(--sidebar-item-padding);

  border: rm(1) solid var(--sidebar-item-border);
  background-color: var(--sidebar-item-background);
  border-radius: var(--border-radius-small);

  &:not(.disabled) {
    cursor: pointer;

    &:not(.active) {
      &:hover,
      &:focus-visible {
        --sidebar-item-background: var(--bg-base-hover);
      }
    }
  }

  &.active {
    --sidebar-item-background: var(--bg-base-pressed);
    --sidebar-item-border: var(--border-base);
    --sidebar-item-color: var(--fg-base);
  }
}

.dangerType {
  --sidebar-item-icon-color: var(--fg-error);
  --sidebar-item-color: var(--fg-error);
  --sidebar-item-hint-color: var(--fg-error);
}

.icon {
  @include icon(20);
  color: var(--sidebar-item-icon-color);
  flex-shrink: 0;
}

.label {
  display: var(--sidebar-label-display);

  @include text-compact-small-plus();
  color: var(--sidebar-item-color);
  flex-grow: 1;
  text-align: left;

  @include ellipsis();
}

.badge {
  flex-shrink: 0;
}

.hint {
  @include text-compact-small-plus();
  color: var(--sidebar-item-hint-color);
}

.appendIcon {
  @include icon(20);
  flex-shrink: 0;
  color: var(--sidebar-item-icon-color);
}

.before,
.after {
  flex-shrink: 0;
}

.after {
  display: var(--sidebar-after-display);
}
